.header {
  margin-bottom: 26px;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 550px) {
  .header {
    height: 51px;
    margin-bottom: 13px;
  }
}
