.popup__header {
  width: 100%;
  margin-top: 0px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #333333;
}

.popup__header-call {
  margin-bottom: 40px;
  margin-left: 4px;
  align-self: start;
}

.popup__header-sucss {
  margin: 0px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .popup__header {
    font-size: 24px;
    line-height: 33px;
  }
    .popup__header-form {
    margin: 0px 0px 28px 0px;
  }

  .popup__header-call {
    margin-bottom: 28px;
    margin-left: 0px;
    align-self: start;
  }
}
