.footer__copyright {
  width: 449px;
  margin: 0px;
  padding: 0px 0px 0px 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4F4F4F;
  list-style: none;
  grid-column: 3/4;
}

@media screen and (max-width: 1250px) {
  .footer__copyright {
    width: 287px;
    padding: 0px;
    grid-row: 3/4;
    grid-column: 1/2;
  }
}
