.social {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 290px;
  left: 0px;
  width: 20px;
  height: 170px;
  list-style: none;
  gap: 6px;
  padding: 0px;
}

.social-mobile {
  display: none;
  opacity: 0.9;
}

.button-social {
  display: block;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: sticky;
  right: 0px;
}

.button-label {
  width: 54px;
  height: 48px;
  box-sizing: border-box;

  border-radius: 0px 100px 100px 0px;
  padding: 4px 4px 4px 10px;
  transition: padding 0.1s cubic-bezier(0, 0, 1, 1) 10ms,
    width 0.1s cubic-bezier(0, 0, 1, 1) 10ms;
}

.button-lbl_clr_ws {
  background-color: #CAE7CE;
}

.button-lbl_clr_tg {
  background-color: #CBE7F7;
}

.button-lbl_clr_vk {
  background-color: #BBDBFF;
}

.button-label:hover {
  width: 64px;
  padding-left: 20px;
}

@media screen and (max-width: 550px) {
  .social {
    display: none;
  }

  .social-mobile {
    display: flex;
    position: fixed;
    right: 15px;
    bottom: 80px;
  }
}
